#menu
{
	margin-top:50px;
    margin-left: 200px;
}

#menu ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
    
}

#menu ul a
{
    
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	padding:0 65px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#menu ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#menu ul li.current-menu-item
{
	background:#ddd;
}

#menu ul li:hover
{
	background: #ddd;
}

#menu ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#menu ul ul li
{
	float:none;
	width:180px
}

#menu ul ul a
{
	line-height:120%;
	padding:10px 15px
}



#menu ul li:hover > ul
{
	display:block
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#Impressum
{
    text-align: center;
    margin-top: 120px;
	color:#333;
	text-decoration:none;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;   
}

#AGB
{
    text-align: justify;
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 200px;
	color:#333;
	text-decoration:none;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;    
}

#Datenschutz
{
    text-align: justify;
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 200px;
	color:#333;
	text-decoration:none;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#Warenkorb
{
    text-align: justify;
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 200px;
	color:#333;
	text-decoration:none;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #CCCCCC;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: darkgrey;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: black;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

footer {
	position: fixed;
    text-align: center;
	padding: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ddd;
	border-color: #8a9da8;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
    
}

footer a:link{
    text-decoration: none;
    margin: 5px;
    font-size: 12px;
}
footer a:visited
{
    color: black;
    text-decoration: none;
}

